<template >

    <li v-if="IID.showType === 'show'"
        class="InlineItem-top-component"
        v-on:click="setFocusEdit"
    >{{ IID.title }}</li>

    <li v-else-if="IID.showType === 'edit'"
        class="InlineItem-top-component InlineItem-mode-edit"
        v-bind:class="{ isWrong: IID.isWrong }"
    ><input
        class="InlineItem-input"
        type="text"
        v-model="inputM"
        v-on:focus="onFocus"
        v-on:blur="onBlur"
        v-on:click.stop=""
        v-on:keyup.enter="onEnter"
        v-on:keydown="onKeyDown"
        v-on:keyup="onKeyUp"
        ref="input"
    ></li>


</template>
<script>

    export default {
        name: 'InlineItem',

        props: ['IID', 'parentRelation'],

        data: () => {
            return {
                inputM: '',
            }
        },

        mounted: function () {
            console.log('Created item', this);
            this.IID.vueObj = this;
            this.initRubberInput();
            this.setFocusEdit();
        },

        updated: function () {
            // console.log('updated');
            this.initRubberInput();
        },

        watch: {
            inputM: function(val) {
                this.changeInput(val);
            }
        },

        methods: {
            onKeyDown: function(event) {
                if (event.code === 'ArrowDown' || event.code === 'ArrowUp') {
                    this.parentRelation.selectingHints(event.code);
                    event.preventDefault();
                    return;
                }

                if (event.key === '.') {
                    event.preventDefault();
                    this.toNewItem();
                    return;
                }

                if (event.key === 'Delete' || event.key === 'Backspace') {
                    if (event.target.value === '') {
                        this.deleteTheItem();
                        event.preventDefault();
                        return;
                    }
                }

            },

            onKeyUp: function(event) {
                if (event.key === 'dsds') {
                    console.log(event);
                }
                this.parentRelation.updateHints(this);
            },

            setInputValue: function(value) {
                this.inputM = value;
                this.$refs.input.oninput();
                this.$refs.input.value = value;
                this.IID.title = value;
            },

            setInputValueAndHand: function(value) {
                this.setInputValue(value);
                this.toNewItem();
            },

            toNewItem: function() {
                this.setInputValue(this.parentRelation.handleSetItem(this.IID));
            },

            onEnter: function() {
                this.toNewItem();
            },

            setFocusEdit: function() {
                this.IID.showType = 'edit';
                this.$el.querySelector('input').focus();
            },

            onFocus: function() {
                this.IID.isFocus = true;
                this.parentRelation.updateHints(this);
            },

            onBlur: function() {
                this.IID.isFocus = false;
                this.parentRelation.updateHintsOnBlur(this);
            },

            createItemData: function (iin, partCommandMap) {
                return {
                    iin: iin,
                    isFirst: false,
                    isFocus: false,
                    isWrong: false,
                    title: '',
                    showType: 'edit',
                    partCommandMap: partCommandMap,
                };
            },

            initRubberInput: function () {
                if (!this.$el.classList.contains('rubber-input')) {
                    this.$el.classList.add('rubber-input');
                    let input = this.$el.querySelector('input');
                    let buffer = document.createElement('div');
                    buffer.style.whiteSpace = 'pre';
                    buffer.className = "InlineItem-buffer";
                    if (input !== null) {
                        input.parentNode.insertBefore(buffer, input.nextSibling);
                        input.oninput = function () {
                            if (this.nextElementSibling !== null) {
                                this.nextElementSibling.innerHTML = this.value;
                                this.style.width = this.nextElementSibling.clientWidth + 'px';
                            }
                        };
                        let steps = 10;
                        let stepsTimer = setInterval(function () {
                            steps--;
                            if (steps === 0) {
                                clearTimeout(stepsTimer);
                                input.oninput.apply(input);
                            }

                            if (buffer.parentElement.clientWidth == '0') {
                                clearTimeout(stepsTimer);
                                input.oninput.apply(input);
                            }
                        }, 10 );
                    }
                }
            },

            deleteTheItem: function() {
                if (this.IID.isFirst) {
                    return;
                }
                this.$destroy();
                this.$el.remove();
                this.parentRelation.deleteItem(this.IID.iin);
                this.parentRelation.setCursorInLastItem();
            },

            changeInput: function(val) {
                this.IID.title = val;
                this.$refs.input.oninput();

                if (val === '_ad') {
                    this.toNewItem();
                }

                if (val === '_del') {
                   this.deleteTheItem();
                }

                if (val === '_show') {
                    this.IID.showType = 'show';
                }

                this.parentRelation.updateCommandPath();
            }
        }
    }

    /**
     *  IID.showType = [ show | edit ]
     */

</script>
<style scoped>

    .InlineItem-top-component {
        display: inline-block;
        list-style: none;
        margin: 2px;
        /*border: 1px solid #777;*/
    }

    .InlineItem-top-component.isWrong {
        background-color: rgba(255,0,0, 0.3);
    }

    .InlineItem-top-component::after {
        content: ".";
    }

    .InlineItem-top-component:last-child::after {
        content: "";
    }

    .InlineItem-top-component.InlineItem-mode-edit input {
        min-width: 10px;
        background-color: transparent;
        /*background-color: rgba(255,255,255, 0.2);*/
        color: inherit;
        border: none;
        outline:none;
    }

</style>
