<template>
    <div class="InlineMain-top-component">
        <ul class="InlineMain-list" v-on:click="setCursorInLastItem">
            <li
                class="InlineMain-list-item"
                is="InlineItem"
                v-for="(IID, index) in inlineItemList"
                v-bind:IID="IID"
                v-bind:parentRelation="parentRelation"
                v-bind:key="index"
            ></li>
        </ul>
        <div class="InlineMain-hints-top"
             v-if="hintsShow && hintsCommandMapView"
             v-bind:style="{ left: hintsLeftPosition + 'px' }"
        >
            <ul ref="hints_list">
                <li v-for="(_, itemKey) in hintsCommandMapView"
                    v-bind:key="itemKey"
                    v-bind:data-key="itemKey"
                    @click="setHint(itemKey)"
                >{{itemKey}}<span v-if="hintsCommandMap[itemKey]._title"> - {{hintsCommandMap[itemKey]._title}}</span></li>
            </ul>
        </div>
        <div v-if="isShowDevPanel">
            <hr>
            {{ hintsCommandMap }}
            <hr>
            {{theCommandPath}}
        </div>
    </div>
</template>

<script>
    import InlineItem from "./InlineItem";

    export default {
        name: 'InlineMain',

        props: ['commandMapTheTabKey'],

        inject: ['webSockObj', 'commonStorage', 'requestMethods', 'commandMap'],

        data: (vueObj) => {
            return {
                theCommandPath: '',
                hintsCommandMap: false,
                hintsCommandMapView: false,
                hintsShow: false,
                hintsLeftPosition: 0,
                isShowDevPanel: false,
                inlineItemFocused: null,
                inlineItemInc: 0,
                inlineItemList: [ ],
                parentRelation: vueObj.getParentRelationMethods(vueObj),
                DataWebSockCommon: vueObj.webSockObj.commonData,
                DataCommonStorage: vueObj.commonStorage,
                requestMethods: vueObj.requestMethods,
            }
        },

        components: {
            InlineItem,
        },

        mounted: function() {
            this.createNewItem(this.commandMap);
            let that = this;
            this.commandMap[this.commandMapTheTabKey].devPanelShow = function (value) {
                that.isShowDevPanel = (value == true);
            };
        },

        methods: {

            setCursorInLastItem: function() {
                console.log('setCursorInLastItem');

                let item = this.getLastItem();
                if (item !== false && typeof item.vueObj !== 'undefined') {
                    item.vueObj.setFocusEdit();
                }
            },

            getLastItem: function() {
                console.log('getLastItem', this.inlineItemList);

                let last = null;
                for (let keyItem in this.inlineItemList) {
                    last = this.inlineItemList[keyItem];
                }

                if (typeof last !== 'object') {
                    console.error('setCursorInLastItem is not object');
                    return false;
                }

                if ( typeof last.vueObj !== "object") {
                    console.error('setCursorInLastItem dont have vueObj');
                    return false;
                }

                return last;
            },

            getNextItem: function(handleItem) {
                console.log('getNextItem', this.inlineItemList);

                let last = null;
                let theItem = null;
                for (let keyItem in this.inlineItemList) {
                    theItem = this.inlineItemList[keyItem];
                    if (last === false) {
                        last = theItem;
                        break;
                    }

                    if (handleItem === theItem) {
                        last = false;
                    }
                }

                if (typeof last !== 'object') {
                    console.error('getNextItem is not object');
                    return false;
                }

                if ( typeof last.vueObj !== "object") {
                    console.error('getNextItem dont have vueObj');
                    return false;
                }

                return last;
            },

            getPartCommandMap: function (theObject, itemCommand) {
                // if(this.updateCommandPath() === false) {
                //     return false;
                // }

                if (theObject === false) {
                    return false;
                }

                if (typeof theObject[itemCommand] === 'undefined') {
                    return false;
                }

                return theObject[itemCommand];
            },

            updateCommandPath: function() {
                console.log('updateCommandPath ---');
                let commonIsOk = true;
                this.theCommandPath = '';
                let thePartCommandMap = this.commandMap;
                for (let keyItem in this.inlineItemList) {
                    if (this.theCommandPath !== '') {
                        this.theCommandPath = this.theCommandPath + '.';
                    }
                    let itemInline = this.inlineItemList[keyItem];
                    let itemCommandArr = itemInline.title.split("=");
                    let itemCommand = itemCommandArr[0];
                    if (thePartCommandMap !== false) {
                        this.theCommandPath = this.theCommandPath + itemCommand;
                        itemInline.partCommandMap = thePartCommandMap;
                        itemInline.isWrong = false;
                    } else {
                        itemInline.isWrong = true;
                        commonIsOk = false;
                    }

                    thePartCommandMap = this.getPartCommandMap(thePartCommandMap, itemCommand);
                }

                return commonIsOk;
            },

            setHint: function(value) {
                console.log('setHint', value, this.inlineItemFocused);
                if (typeof this.inlineItemFocused === 'object') {
                    this.unSelectHints();
                    this.inlineItemFocused.setInputValueAndHand(value);

                } else {
                    console.log('inlineItemFocused is null');
                }
            },

            getSelHintEl: function() {
                if (typeof this.$refs.hints_list === 'undefined') {
                    return null;
                }
                return this.$refs.hints_list.querySelector('.active');
            },

            getSelHintValue: function() {
                let el = this.getSelHintEl();
                if (el instanceof Element) {
                    return el.dataset.key;
                }

                return null;
            },

            getHintsCommandMapView: function(thePartCommandMap) {
                let hintsCommandMapView = {};
                for(let itemKey in thePartCommandMap) {
                    if (itemKey[0] !== '_') {
                        hintsCommandMapView[itemKey] = thePartCommandMap[itemKey];
                    }
                }
                return hintsCommandMapView;
            },

            unSelectHints: function() {
                if (typeof this.$refs.hints_list === 'undefined') {
                    return ;
                }

                let selItem = this.getSelHintEl();
                if (selItem !== null) {
                    selItem.classList.remove('active');
                }
            },

            executeCommand: function(executeObj, params) {
                if (executeObj['_execute']) {
                    console.log('EXECUTE', params );

                    return true;
                }

                if (typeof executeObj === 'function') {
                    if (this.getParamsOfFunction(executeObj).length > params.length) {
                        return null
                    }

                    console.log('EXECUTE FUNCTION', params );
                    executeObj(...params);

                    return true;
                }

                return false;
            },

            getParamsOfFunction: function (func) {
                const STRIP_COMMENTS = /((\/\/.*$)|(\/\*[\s\S]*?\*\/))/mg;
                const ARGUMENT_NAMES = /([^\s,]+)/g;
                let fnStr = func.toString().replace(STRIP_COMMENTS, '');
                let result = fnStr.slice(fnStr.indexOf('(')+1, fnStr.indexOf(')')).match(ARGUMENT_NAMES);
                if(result === null)
                    result = [];
                return result;
            },

            createNewItem: function(thePartCommandMap) {
                console.log('createNewItem');
                this.inlineItemInc++;
                let itemData = InlineItem.methods.createItemData(this.inlineItemInc, thePartCommandMap);
                this.inlineItemList.push(itemData);

                return itemData;
            },

            clearLine: function () {
                console.log('clearLine');
                this.inlineItemList = [];
                this.inlineItemFocused = null;
                this.hintsShow = false;

                let that = this;
                setTimeout(function(){
                    that.createNewItem(this.commandMap);
                    that.updateCommandPath();
                }, 1);
            },

            getParentRelationMethods: function(vueObj) {
                return {

                    updateCommandPath: function() {
                        vueObj.updateCommandPath.apply(vueObj);
                    },

                    setCursorInLastItem: function() {
                        vueObj.setCursorInLastItem.apply(vueObj);
                    },

                    handleSetItem: function (handleItem) {
                        console.log('handleSetItem', handleItem);
                        let selectTitle = vueObj.getSelHintValue();
                        let resultTitle = selectTitle;
                        let selectTitleArr = [];

                        if (selectTitle === null) {
                            resultTitle = selectTitle = handleItem.title;
                            selectTitleArr = selectTitle.split("=");
                            selectTitle = selectTitleArr[0].trim();
                        }

                        if (selectTitle.length === 0) {
                            return '';
                        }

                        let thePartCommandMap = vueObj.getPartCommandMap(handleItem.partCommandMap, selectTitle);
                        if (thePartCommandMap !== false) {
                            let isExecute = vueObj.executeCommand(thePartCommandMap, selectTitleArr.slice(1));

                            if ( isExecute === null) {
                                return resultTitle + '=';
                            }

                            if (isExecute === true) {
                                this.clearLine();
                                return '';
                            }


                            let lastItem = vueObj.getLastItem();
                            if (handleItem === lastItem) {
                                vueObj.createNewItem(thePartCommandMap);
                            } else {
                                let nextItem = vueObj.getNextItem(handleItem);
                                console.log('NEXT item ', nextItem);
                                nextItem.vueObj.setFocusEdit();
                                let that = this;
                                setTimeout(() => {
                                    that.updateHints(nextItem.vueObj);
                                });
                            }

                        } else {
                            handleItem.isWrong = true;
                        }

                        return resultTitle;
                    },

                    deleteItem: function (iin) {
                        for (let keyItem in vueObj.inlineItemList) {
                            let item = vueObj.inlineItemList[keyItem];
                            if (item.iin === iin) {
                                delete vueObj.inlineItemList[keyItem].vueObj;
                                delete vueObj.inlineItemList[keyItem];
                            }
                        }

                        this.updateCommandPath();
                    },

                    clearLine: function () {
                        setTimeout(() => {
                            vueObj.clearLine.apply(vueObj);
                        }, 1);
                    },

                    updateHints: function(itemObj) {
                        if(typeof this.hintsOnBlurTimer !== "undefined" && this.hintsOnBlurTimer !==null) {
                            clearTimeout(this.hintsOnBlurTimer);
                            this.hintsOnBlurTimer = null;
                        }
                        console.log('updateHints');
                        vueObj.hintsLeftPosition = itemObj.$el.offsetLeft;
                        let theCommandMap = {};

                        if (itemObj.IID.title === '') {
                            theCommandMap = itemObj.IID.partCommandMap;
                        } else {
                            for(let key in itemObj.IID.partCommandMap) {
                                if (key.indexOf(itemObj.IID.title) !== -1) {
                                    theCommandMap[key] = itemObj.IID.partCommandMap[key];
                                }
                            }
                        }
                        vueObj.hintsShow = true;
                        vueObj.hintsCommandMap = theCommandMap;
                        vueObj.hintsCommandMapView = vueObj.getHintsCommandMapView(theCommandMap);
                        vueObj.inlineItemFocused = itemObj;

                        let that = this;
                        setTimeout(function () {
                            that.selectingHints.apply(that);
                        },1);
                    },

                    updateHintsOnBlur: function() {

                        this.hintsOnBlurTimer = setTimeout(function () {
                            vueObj.hintsShow = false;
                            vueObj.inlineItemFocused = null;
                        }, 1000);
                    },

                    selectingHints: function(type) {
                        if (typeof vueObj.$refs.hints_list === 'undefined') {
                            return ;
                        }

                        let selItem = vueObj.getSelHintEl();
                        let nextItem = null;
                        if (selItem === null) {
                            nextItem = selItem = vueObj.$refs.hints_list.querySelector('li');
                        } else {
                            if (type === 'ArrowDown') {
                                nextItem = selItem.nextElementSibling;
                                if (nextItem === null) {
                                    nextItem = vueObj.$refs.hints_list.querySelector('li');
                                }
                            }
                        }

                        if (type === 'ArrowUp') {
                            nextItem = selItem.previousElementSibling;
                            if (nextItem === null) {
                                nextItem = vueObj.$refs.hints_list.querySelector('li:last-child');
                            }
                        }

                        if (nextItem instanceof Element) {
                            selItem.classList.remove('active');
                            nextItem.classList.add('active');
                        }
                    }
                }
            }

        }
    }
</script>

<style scoped>

    .InlineMain-top-component {
        margin: 5px;
        cursor: text;
    }

    .InlineMain-list {
        margin: 0;
        padding: 0;
        text-align: left;
        border: 1px solid #777;
    }

    .InlineMain-hints-top {
        font-size: 0.8em;
        background-color: rgba(125,125,125, 1);
        display: inline-block;
        text-shadow: 0px 0px 2px #000;
        padding-top: 2px;
        position: absolute;
        left: 0px;
    }

    .InlineMain-hints-top li {
        padding: 2px;
        cursor: pointer;
        border-bottom: 1px solid #000;
    }

    .InlineMain-hints-top li:hover {
        background-color: rgba(127,255,212, 0.3);
    }

    .InlineMain-hints-top li.active {
        background-color: rgba(127,255,212, 0.5);
    }

    .InlineMain-hints-top li:last-child {
        border: none;
    }

</style>
