<template>
  <div class="auth">
    <input type="text" v-model="login" value="testUser">
    <br>
    <input type="text" v-model="password">
    <br>
    <button v-on:click="requestAuth">auth</button>
    <button v-on:click="setProfiler">save</button>
    <br>
    <textarea v-model="response"></textarea>

    <br>
    <br>

    <button v-on:click="testEcho">Echo</button>

    <br>
    <br>

    <button v-on:click="closeWs">Close Ws</button>
  </div>
</template>

<script>
  export default {
    name: 'Auth',
    inject: ['webSockObj', 'commonStorage', 'requestMethods'],
    data: (vueObj) => {
      return {
        login: 'testUser',
        password: '123',
        response: '',
        DataWebSockCommon: vueObj.webSockObj.commonData,
        DataCommonStorage: vueObj.commonStorage,
        requestMethods: vueObj.requestMethods,
      }
    },
    methods: {
      requestAuth: function () { this.requestMethods.setAuth(this.login, this.password); },
      setProfiler: function () { this.requestMethods.setProfiler(this.login); },
      testEcho: function () { this.requestMethods.testEcho(); },
      closeWs: function () { window.sasatest.ws.close();  window.sasatest.wsInit();}
    }
  }
</script>
