<template>
    <div class="tabBar-top-component">

        <ul id="tabBar-list">
            <li class="tabBar-list-item"
                v-for="item in items"
                :key="item.key"
                v-bind:class="{ active: item.isActive }"
                v-on:click="changeActiveItem(item)"
            >{{item.title}}</li>
        </ul>

        <div id="tabBar-item-wrapper">
            <div
                class="tabBar-item"
                v-for="item in items"
                :key="item.key"
                v-bind:class="{ active: item.isActive }"
                v-bind:commandMapTheTabKey="item.commandMapTheTabKey"
                is="InlineMain"
            ></div>
        </div>

    </div>
</template>
<script>

    import InlineMain from "./Inline/InlineMain";

    export default {
        name: 'TabBar',

        inject: ['webSockObj', 'commonStorage', 'requestMethods', 'commandMap'],

        mounted: function() {
            this.createTab();
        },

        data: (vueObj) => {
            return {
                activeItemNum: 1,
                itemsInc: 0,
                items: [],
                DataWebSockCommon: vueObj.webSockObj.commonData,
                DataCommonStorage: vueObj.commonStorage,
                requestMethods: vueObj.requestMethods,
            }
        },

        components: {
            InlineMain
        },

        methods: {

            changeActiveItem: function(selItem) {
                  for (let key in this.items) {
                      let item = this.items[key];
                      item.isActive = false;
                  }

                  selItem.isActive = true;
            },

            createTab: function () {
                let newItem = this.getTabItem();
                let commandKey = 'tab' +  newItem.key;
                if (typeof this.commandMap[commandKey] === "undefined") {
                    this.commandMap[commandKey] = {};
                }
                this.commandMap[commandKey].title_set = function (value) {
                    newItem.title = value;
                };
                this.items.push(newItem);
                this.changeActiveItem(newItem);
            },

            getTabItem: function () {
                this.itemsInc++;
                return {
                    key: this.itemsInc,
                    title: 'tab',
                    commandMapTheTabKey: ('tab' + this.itemsInc),
                    isActive: true,
                }
            },

        }
    }
</script>
<style scoped>

    #tabBar-list > li.active {
       background-color: #3b8070;
    }

    #tabBar-list > li {
        display: inline-block;
        padding: 5px;
    }

    #tabBar-item-wrapper > div {
        display: none;
    }

    #tabBar-item-wrapper > div.active {
        display: block;
    }

</style>
