<template>
  <div id="app" class="main-wrapper">
    <div class="main-content">
      <TabBar/>
    </div>
    <div class="main-footer">
      <div class="footer-line">
      </div>
    </div>
  </div>
</template>
<script>
  import TabBar from "./components/TabBar";

  export default {
    name: 'App',
    props : {},
    inject: ['webSockObj', 'commonStorage', 'requestMethods'],
    data: (vueObj) => {
      vueObj.requestMethods.getProfiler();
      return {
        DataWebSockCommon: vueObj.webSockObj.commonData,
        DataCommonStorage: vueObj.commonStorage,
        requestMethods: vueObj.requestMethods,
      }
    },
    components: {
      TabBar,
    },
  }
</script>
<style>
  #app {

  }
</style>
